*{ margin:0px; padding:0px;}
p{
    margin: 0;
    padding: 0;
}
input{
    -webkit-appearance: none;

}
#bei{
    width:100%;
    height:624px;   
    background: url('https://passport.baidu.com/static/passpc-account/img/reg_bg_min.jpg');
    
}

.zuo{
    width:50%;
    float: left;
}
.logo{
    width: 150px;
    height:40px;
    margin-left: 40px;
    margin-top: 50px;
    float: left;
}
.zi1{
    font-size: 52px;
    color: white;
    font-weight: bolder;
    margin-top: 300px;
    margin-left: 80px;
    float: left;
}
.zi2{
    margin-left: 270px;
    margin-top: 10px;
    font-size: 33px;
    color:white;
    float: left;

}
.you{
   
    width:50%; 
    float: left;
}
.you1{   
    
    width:75%;
    height:500px;
    margin-top: 80px;
    margin-left: 70px;
    border-radius: 9px;
    background-color: rgba(255,255,255,.9);
    padding-top: 1px;
    
}
.z1{
   
    font-size: 30px;
    color:black;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 40px;
}
.z2{
    font-size: 14px;
    margin-top:10px;
    margin-left: 40px;
    z-index: -999;
}
.zz2{
    color: gray;
    float: left;
}
.zz1{
    color:blue;
    float: left;
}
.xia{
    margin-top: 0px;
    float: left;
}
.xiaa1,.xia11,.xia1{
    margin-left: 40px;
    margin-top: 0px;
    float: left;
}
#user0{
    width:420px;
    height:20px;
    color:red;
    font-size: 14px;
    margin-left: 70px;
}
#btn0,#code0{
    width:420px;
    height:20px;
    color:red;
    font-size: 14px;
    margin-left: 70px;
}
#pwd0{
    width:340px;
    height:65px;
    color:white;
    font-size: 14px;
    margin-left: 130px;
    top:260px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10px;
    position:absolute;  
    z-index: -100;
}
#pwd1,#phone0{
    width:420px;
    height:20px;
    color:red;
    font-size: 14px;
    margin-left: 70px;
   
}
.mm{
    width:14px;
    height:14px;
    margin-top: 4px;
    margin-left: -25px;
}
#userhei{
    width:420px;
    height:25px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 14px;
    border-radius: 10px;
    color:white;
    opacity: 0.9;
    margin-bottom: 10px;
    
}
.xiaa1 input{
    background-color: white;
    opacity: 1;
    width:220px;
    height:35px;
    padding-left: 5px;
    color: rgb(206, 202, 202);
    border:1px solid rgb(187, 187, 187);
    border-radius: 6px;
}
#code1{
    background-color: white;
    opacity: 1;
    width:120px;
    height:35px;
    align-items: center;
    color: black;
    border:1px solid rgb(187, 187, 187);
    border-radius: 6px;
}
.xia1 input{
    background-color: white;
    opacity: 1;
    width:350px;
    height:35px;
    padding-left: 5px;
    color: rgb(206, 202, 202);
    border:1px solid rgb(187, 187, 187);
    border-radius: 6px;
    z-index: -999;
}
.xia11 input{
    background-color: white;
    opacity: 1;
    width:350px;
    height:35px;
    padding-left: 5px;
    color: rgb(206, 202, 202);
    border:1px solid rgb(187, 187, 187);
    border-radius: 6px;
    z-index: -999;
}
#btn{
    width:80%;
    height:50px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 7px;
    align-items: center;
    border:none;
    color: white;
    background-color: rgb(137, 164, 214);
    opacity: 1;
}